/* NORMALIZE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-family: "Lucida Console", "Courier New", monospace;
    --bg-color: #FAF9F6;
    --primary-color: #1A364C;
    --secondary-color: #C4CF6C ;
    --accent-color: #479772;
    --primary-text-color: white;
    --secondary-text-color: white;
}

html, body {
    min-height: 100%;
    height: 100%;
}

a {
    color: inherit;
}

/* UTILITY */
.container-m {
    width: 50%;
}

.container-xl {
    width: 90%;
}

.width-max {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.flex-centered {
    justify-content: center;
    align-items: center;
}

.bg-main {
    background-color: var(--bg-color);
}

.bg-primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

/* LAYOUT */
main {
    flex: 1;
    display: inherit;
}

/* CALCULATOR*/
#calculator {
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    height: 100%;
    width: 100%;
}

/* FOOTER */
footer {
    padding: 0.5rem;
    font-size: small;
    text-align: center;
}